body{
    background-color:#202124;
}

#div1 {
    display: inline;
    width: 130px;
    margin-right: 10px;
    font-size: 13px;
    font-family: arial, sans-serif;
    position: relative;
    left: 92%;
    a{
        color: white;
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }
}
#div2_3{
    display: flex;
    flex-direction: column;
    align-items:  center;
    position: relative;
    top: 20px;
}
img{
    width: 292px;
    height: 91px;
}
span{
    color: #4487f6;
    font-family: Arial, sans-serif;
    font-size: 16px;
    width: 51px;
    position: absolute;
    right: 475px;
    top: 70px;     
}
