body{
    background-color:#202124;
}

#div1 {
    display: inline;
    width: 130px;
    margin-right: 10px;
    font-size: 13px;
    font-family: arial, sans-serif;
    position: relative;
    left: 92%;
    a{
        color: white;
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }
}
