%gen_child_div{
    display: inline;
    width: 130px;
    margin-right: 10px;
    font-size: 13px;
    font-family: arial, sans-serif;
    position: relative;
    a{
        color: white;
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }
}
body{
    background-color:#202124;
}
#div1{
    padding: 6px;
    width: 265px;
    height: 48px;
    position: relative;
    left: 78%;
}

#div1_c1{
    @extend %gen_child_div;
    left: 10%;
}

#div1_c2 {
    @extend %gen_child_div;
    left: 15%;
}
#div2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#div3{
    height: 145px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#search_field{
    margin-top: 6px;
    height: 56px;
    border-radius: 32px;
    background: #4d5156;
    border-color: transparent;
    font-size: 14px;
    font-family: Arial, sans-serif;
    width: 638px;
    max-width: 584px;
    color: #e8e8e8;
}
#div3_c1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6px;
}
#div2-3{
    position: relative;
    top: 90px;
}

