$std_position: relative;
$std_height: 42px;
$std_margin-left: 35px;
$std_margin-right: 10px;
$std_fontsize: 13px;
$std_colorfont: #969ba1;


%class_divs_input{
    height: $std_height;
    label{
        font-size: $std_fontsize;
        color: $std_colorfont;
    }
    input{
        color: white;
        background: #202124;
        border: 1px solid #5f6368;
        height: 25px;
        width: 40%;
        border-radius: 1px;
    }
    input[type=text]:focus{
        border: 1px solid rgb(130, 182, 216);
        outline: none;
        vertical-align: middle;
    }
}
body{
    background-color:#202124;
    font-family: Arial, sans-serif;
}
#div1{
    width: 90px;
    height: 48px;
    margin: 8px;
    position: $std_position;
    left: 92%;
}
img{
    height: 24px;
    width: 74px;
    display: inline-block;
    position: $std_position;
    left: 10%;
    top: 10px;
}
#div2{
    p{
        color:#f28b82;
        font-size: 20px;
    }
    display: block;
    margin-left: $std_margin-left;
}
#div3{
    margin-left: $std_margin-left;
}
#div3_title{
    span{
        font-size: 16px;
        color: #e8eaed;
    }
    display: block;
    height: $std_height;
}
#div_input1{
    @extend %class_divs_input;
    input[type=text]{
        margin-left: 69px;
        margin-right:$std_margin-right;
    }
}
#div_input2{
    @extend %class_divs_input;
    input[type=text]{
        margin-left: 10px;
        margin-right:$std_margin-right;
    }
}
#div_input3{
    @extend %class_divs_input;
    input[type=text]{
        margin-left: 45px;
        margin-right:$std_margin-right;
    }
}
#div_input4{
    @extend %class_divs_input;
    input[type=text]{
        margin-left: 37px;
        margin-right:$std_margin-right;
    }
}
#adv_search_button{
    input[type=submit]{
        background: #8ab4f8;
        border-color: #8ab4f8;
        position: relative;
        left: 522px;
    }
}
